@charset "UTF-8";

body{
    margin: 0;
    padding: 0;
    background-color: #03080c;
    font-family: 'Cormaorant Garanomd', 'Noto Serif JP', serif;
    color: #ffffff;
    overflow-x: hidden;
}

.fixed-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/IMG_1790.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
}

#flash-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 9999;
    pointer-events: none;
    animation: flashFadeOut 2.5s ease-out forwards;
}
@keyframes flashFadeOut{
    0% {opacity: 1;}
    12% {opacity: 1;}
    100% {opacity: 0; visibility: hidden;}
}

.scroll-space{
    position: relative;
    height: 300vh;
    z-index: 2;
}

/* title ----------------------------------- */
.title-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transform-origin: left top;
    text-align: center;
    z-index: 10;
    opacity: 0;

    transition: top 1.2s cubic-bezier(0.215, 0.61, 0.355, 1),
                left 1.2s cubic-bezier(0.215, 0.61, 0.355, 1),
                transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1),
                opacity 1.5s ease;
}
#logo-link{
    text-decoration: none;
    color: inherit;
    pointer-events: none;
}

.main-title{
    font-size: 5rem;
    margin: 0;
    letter-spacing: 0.1em;
    font-weight: 300;
    text-shadow: 0 0 15px rgba(127, 255, 212, 0.3);
}
.sub-title{
    font-size: 1.5rem;
    margin-top: 10px;
    letter-spacing: 0.2em;
    font-weight: 300;
    opacity: 1;
    transition: opacity 0.8s ease;
}
.title-container.is-visible{
    opacity: 1;
}
.title-container.is-header{
    top: 40px;
    left: 40px;
    transform: translate(0, 0) scale(0.35);
}
.title-container.is-header .sub-title{
    opacity: 0;
}
.title-container.is-header #logo-link{
    pointer-events: auto;
}
#logo-link:hover .main-title{
    text-shadow: 0 0 25px rgba(127, 255, 212, 0.8);
    transition: text-shadow 0.3s ease;
}
